.container-slider {
    width: 100%;
    max-width: 600px;
}
.slider {
    
    overflow: hidden;
}
.slider__movable {
    display: flex;
    transition: transform 500ms ease;
}
.slider__img-container{
    width: 100%;
    padding: 2em;
    aspect-ratio: 1.5;
    
}
.slider__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.slider__btn {
    position: absolute;
    top: 50%;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    transform: translateY(-50%);
    transition: box-shadow 100ms ease;
    z-index: 10;
        &:hover {
            box-shadow: 0 0 0.5em black;
            filter: brightness(1.2);
        }
}
.slider__next {
    right: 0;
}
.slider__footer {
    width: 80%;
    display: flex;
    gap: 0.2em;
    margin: auto;
}
.slider__footer-container {
    width: 100%;
    aspect-ratio: 0.8;
}

.slider__footer__img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border: 5px solid transparent;
    border-radius: 0.6em;
}
.slider__footer__active {
    border-color: red;
    
}
